.message-input {
    width: 100%;
    height: 80px;
    background-color: blue;
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: flex-end
}

.main-input {
    height: 50%;
    width: 75%
}