.message-input {
    width: 100%;
    height: 80px;
    background-color: #383D3B;
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
}

.main-input {
    height: 70%;
    width: calc(100% - 86px);
    border-radius: 20px;
    border: 0;
    padding: 0;
    
    background-color: #6B6D76;
    
    outline: none;
    padding-left: 15px;
    /* padding-top: 5px; */
    font-size: 15px;
    color: #F7F9FF;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    resize: vertical
} 
.main-input::placeholder {
    color: rgba(247, 249, 255, 0.349)
}
.space {
    min-width: 265px;
    /* background-color: green; */
    height: 10px
}
.input-holder {
    margin: 10px;
    width: calc(100% - 275px);
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #6B6D76;
    border-radius: 10px;
}
.line-break-input {
    /* margin-right: 10px; */
    display: flex;
    align-items: center;
    /* padding-bottom: 4px */
    height: 80%;
    width: 2px;
    background-color: black
}

@media (max-width: 800px) {
    .input-holder {
        width: 100%
    }
}