.profile-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20vw;
    height: calc(100vh - 80px);

    background-color: rgb(216, 216, 216);
    border-left: solid black 1px;
    box-shadow: -5px 0 10px 0px rgb(29, 29, 29);

    z-index: -1;
    transition: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    animation: hide .5s forwards
}

@keyframes hide {
    from {
        right: -20vw
    }
    to {
        right: 0
    }
}



/* input styling */
.prof-input {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 30px;
    width: 95%;
    display: block;
    /* padding: var(--inputPaddingV) var(--inputPaddingH); */
    color: inherit;
    font-family: inherit;
    /* font-size: var(--inputFontSize); */
    font-weight: inherit;
    /* line-height: var(--inputLineHeight); */
    border: none;
    border-radius: 0.2rem;
    transition: box-shadow .25s;
}.prof-input::placeholder {
    color: #B0BEC5
}.prof-input:focus {
    outline: none;
    box-shadow: 1px 7px 10px -5px rgb(24, 24, 24);
}

/* labels */
.username-label {
    display: flex;
    justify-self: flex-start;
    margin-top: -50px;
    /* position: absolute; */
    /* bottom: 50%; */
    /* left: 1rem; */
    color: #fff;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: inherit;
    line-height: 1.8;
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
    transform-origin: 0 0;
    transition:
        opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
        transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
        visibility 0ms 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
        z-index 0ms 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1), */


.name-text:placeholder-shown + .username-label {
    visibility: hidden;
    z-index: -1
}
.name-text:not(:placeholder-shown) + .username-label,
.name-text:focus:not(:placeholder-shown) + .username-label {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    transform: translate3d(-45px, -25px, 0)
    scale(0.8);
    transition:
        transform 300ms,
        visibility 0ms,
        z-index 0ms;
}


.prof-pic-label {
    display: block;
    margin-top: -50px;
    /* position: absolute; */
    /* bottom: 50%; */
    left: 1rem;
    color: #fff;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: inherit;
    line-height: 1.8;
    opacity: 0;
    transform: 
        translate3d(-40px, 0, 0)
        scale(1);
    transform-origin: 0 0;
    transition:
        opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
        transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
        visibility 0ms 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
        z-index 0ms 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pic-text:placeholder-shown + .prof-pic-label {
    visibility: hidden;
    z-index: -1
}
.pic-text:not(:placeholder-shown) + .prof-pic-label,
.pic-text:focus:not(:placeholder-shown) + .prof-pic-label {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    transform: translate3d(-30px, -25px, 0)
    scale(0.8);
    transition:
        transform 300ms,
        visibility 0ms,
        z-index 0ms;
}



.current-pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid rgba(41, 41, 41, 0.897) 1px;
    object-fit: cover;
    padding: 0;
    margin: 30px 0;

    background-color: rgb(221, 221, 221)
    
}

.profile-button-holder {
    display: flex;
    width: 50%;
    justify-content: space-around;
}