.groups-bar {
    width: 80px;
    height: calc(100vh - 80px);

    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.empty {
    width: 80px;
    height: calc(100vh - 80px);

    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(197, 197, 197);

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.line-break {
    /* height: 0; */
    /* margin-top: 15px; */
    z-index: 1
}

.selector {
    background-color: rgb(197, 197, 197);
    z-index: -1
}
.groupButts {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    z-index: 1;
    max-height: calc(100vh - 80px - 98px);
    overflow-y: auto;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 80px;
}

.top {
    position: absolute;
    top: 0;
    height: 25px;
    width: 100%;
    z-index: -1;
    border-bottom-right-radius: 50%;
}

/* 60px between */
.bottom {
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
    z-index: -1;
    border-top-right-radius: 50%
}

.side-color {
    position: absolute;
    background-color: rgb(197, 197, 197);;
    
    height: 100%;
    width: 50%;
    left: 0;
    transition: .1s;
    top: 0;
    z-index: -1
}

.new-group-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: sticky;
    bottom: 0; */

    z-index: 1;

    height: 98px;
    width: 100%;
    background-color: rgb(197, 197, 197);
}

.fancy-side-bar {
    position: sticky;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    bottom: 0;
    /* min-height: 100%; */
}

.bottom-holder {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}





.roomButts {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    z-index: 0;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    position: absolute;
    width: 400px;
    height: 100%;
    /* background-color: rgb(100, 100, 100) */
    /* top: 80px; */
}
.fancy-room-bar {
    position: sticky;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    bottom: 0;
    /* min-height: 100%; */

    display: flex;
    flex-direction: column;

    align-items: flex-end
}
.room {
    background-color: rgb(138, 138, 138);
    z-index: -1
}
.room-title {
    margin-top: 15px;
    background-color: rgb(37, 37, 37);
    color: rgb(228, 228, 228);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 20px 0;    
    width: 40%
}
.room-name {
    margin-right: 20px;
    margin-top: 10px;
    height: 20px
}
.selected {
    background-color: rgb(68, 68, 68);
    width: 50%;
    color: rgb(228, 228, 228);
    transition: .25s;
    border-radius: 20px;
    margin-right: 10px;
    text-align: right;
    padding-right: 5px
}
.side-room-color {
    position: absolute;
    background-color: rgb(138, 138, 138);;
    
    height: 100%;
    width: 90%;
    left: 0;
    transition: .1s;
    top: 0;
    z-index: -1
}