.reuse-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* margin-left: 20px; */
    border: solid rgba(41, 41, 41, 0.897) 1px;
    background-position: center;
    background-size: cover;
    padding: 0;

    background-color: rgb(221, 221, 221);
    
    /* transition: box-shadow .25s,
                height .25s,
                width .25s,
                background-size .25s,
                padding .25s */
}
.reuse-button:hover {
    border: solid rgb(61, 61, 61) 1px;
    height: 51px;
    width: 51px;
    padding: 0 0 1px 1px;
    box-shadow: 0px 0px 5px .2px rgba(0,0,0,1);
}.reuse-button:active {
    border: solid black 1px;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
    background-size: cover;
    height: 49px;
    width: 49px;
    padding: 0
}.reuse-button:focus {
    outline: none
}


.close-model {
    position: absolute;
    top: 5px;
    right: 5px
}