.header {
    width: 100vw;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(36, 126, 148);
    box-sizing: border-box;
    padding: 0 20px;
    border-bottom: solid black 1px
}
.app-logo {
    width: 70px
}
.app-title {
    
}
.button-holder {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center
}
.user-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
    border: solid rgba(41, 41, 41, 0.897) 1px;
    background-size: 40px 40px;
    /* transition: .25s */
}
.user-button:hover {
    border: solid rgb(61, 61, 61) 1px;
    height: 41px;
    box-shadow: 0px 0px 5px .2px rgba(0,0,0,1);
}.user-button:active {
    border: solid black 1px;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
    background-size: 39px 39px;
    
}
.user-image {
    height: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 1
}