.header {
    width: 100vw;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(36, 126, 148);
    box-sizing: border-box;
    padding: 0 20px;
}
.app-logo {
    width: 70px
}
.app-title {

}
.button-holder {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center
}
.login-button {
    width: 50px;
    margin-left: 20px
}
.user-button {
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
    border: solid rgba(41, 41, 41, 0.897) 1px
}
.user-button:hover {
    border: solid rgb(61, 61, 61) 1px;
    height: 41px
}.user-button:active {
    border: solid black 1px;
    height: 39px
}