.table-selector {
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    z-index: 1;
    border-radius: 50%;
    /* margin-left: 20px; */
    border: solid rgba(41, 41, 41, 0.897) 1px;
    background-position: center;
    background-size: cover;
    padding: 0;

    background-color: rgb(170, 170, 170);
    
    transition: .25s
}
.table-selector:hover {
    border: solid rgb(61, 61, 61) 1px;
    border-radius: 20%;
    /* padding: 0 0 1px 1px; */
    box-shadow: 0px 0px 5px .2px rgba(0,0,0,1);
}.table-selector:active {
    border: solid black 1px;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
    background-size: cover;
    padding: 0
}.table-selector:focus {
    outline: none
}

.select {
    border: solid rgb(61, 61, 61) 1px;
    border-radius: 20%;
    /* padding: 0 0 1px 1px; */
    box-shadow: 0px 0px 5px .2px rgba(0,0,0,1);
}