.chat-room {
    width: 100%;
    height: calc(100vh - 160px);
    background-color: green;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;

    overflow: scroll;
}

.messages {
    min-height: 0;
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: flex-end */

}
.chat-break {
    width: 355px;
    height: calc(100vh - 160px);
    background-color: green
}

.message-info {
    min-height: 150px;
    width: 50%;
    border: solid black 2px;
}